<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Prj1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>OracleServlet</display-name>
    <servlet-name>OracleServlet</servlet-name>
    <servlet-class>cs4111.OracleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OracleServlet</servlet-name>
    <url-pattern>/OracleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test1</display-name>
    <servlet-name>Test1</servlet-name>
    <servlet-class>cs4111.Test1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test1</servlet-name>
    <url-pattern>/Test1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cs4111.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseServlet</display-name>
    <servlet-name>CourseServlet</servlet-name>
    <servlet-class>cs4111.CourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseServlet</servlet-name>
    <url-pattern>/CourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseworkServlet</display-name>
    <servlet-name>CourseworkServlet</servlet-name>
    <servlet-class>cs4111.CourseworkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseworkServlet</servlet-name>
    <url-pattern>/CourseworkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DayTaskServlet</display-name>
    <servlet-name>DayTaskServlet</servlet-name>
    <servlet-class>cs4111.DayTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DayTaskServlet</servlet-name>
    <url-pattern>/DayTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MstoneServlet</display-name>
    <servlet-name>MstoneServlet</servlet-name>
    <servlet-class>cs4111.MstoneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MstoneServlet</servlet-name>
    <url-pattern>/MstoneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlanServlet</display-name>
    <servlet-name>PlanServlet</servlet-name>
    <servlet-class>cs4111.PlanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlanServlet</servlet-name>
    <url-pattern>/PlanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditMstServlet</display-name>
    <servlet-name>EditMstServlet</servlet-name>
    <servlet-class>cs4111.EditMstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditMstServlet</servlet-name>
    <url-pattern>/EditMstServlet</url-pattern>
  </servlet-mapping>
</web-app>